*{
    padding: 0px;
    margin: 0px;
    font-family:monospace;
}
body{
    padding: 0% 12%;
}
.topbar{
    background-color: rgb(39, 39, 202);
    color: whitesmoke;
    font-size: 390%;
    height: 80px;
    /* padding-top: 1%; */
    padding-left: 2rem;
    /* padding-bottom: 1%; */
    display:flex;
    align-items: center;
}
.topbar > p{
    margin-bottom:  5px;
}
.bottom > h1{
    text-align: center;
    font-size: 400%;
    /* margin: 2% 0%; */
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}
.boxes{
    display: flex;
    justify-content:space-between

}
.left{
    /* width: 25%; */
    /* background-color: green; */
    display:flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 3rem;
    /* align-items:flex-start; */
    height: fit-content;
    border: 3px solid green;
}
.left > img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
}
.left > a{
    width:20rem;
    font-size: 2em;
    /* background-color: yellow; */
    text-align:center;
    margin-top: 3rem;
}
.left > h2{
    font-size: 3em;
    text-align:center;
    margin-top: 2rem;
}
.right{
    width:57rem;
    /* background-color: orange; */
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}
.one{
    padding:2.5rem;
    border: 3px solid purple;

}
.top{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.top > h2{
    font-size: 3rem;
}
.top > p{
    margin-left: 18rem;
    width: 12rem;
    /* background-color: red; */
    font-size: 1.8rem;
}
.topbtn1{
    width: 8rem;
    height: 3.5rem;
    font-size: 1.8rem;
    background-color: orange;
}
.one > p{
    margin-top: 2rem;
    font-size: 2rem;
}
.two{
        padding:2.5rem;
        border: 3px solid purple;
}
.top2{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.top2 > h2{
    font-size: 3rem;
}
.top2 > p{
    margin-left: 15rem;
    width: 12rem;
    /* background-color: red; */
    font-size: 1.8rem;
}
.topbtn2{
    width: 8rem;
    height: 3.5rem;
    font-size: 1.8rem;
    background-color: orange;
}
.two > p{
    margin-top: 2rem;
    font-size: 2rem;
}
.three{
    padding:2.5rem;
    border: 3px solid purple;
}
.top3{
display:flex;
justify-content: space-between;
align-items: center;
}
.top3 > h2{
font-size: 3rem;
}
.top3 > p{
margin-left: 20rem;
width: 12rem;
/* background-color: red; */
font-size: 1.8rem;
}
.topbtn3{
    width: 8rem;
    height: 3.5rem;
    font-size: 1.8rem;
    background-color: orange;
}
.three > p{
    margin-top: 2rem;
    font-size: 2rem;
}