*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
}
.main{
    margin-top: 100px;
    width: 900px;
    height: 380px;
}
.top{
    height: 140px;
    background-color: rgb(97, 208, 171);
}
.bottom{
    height: 320px;
    background-color: rgb(219, 219, 2);
    padding-left: 60px;
    padding-top: 120px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.face{
    position: 50px top;
    margin-left: 50px;
    margin-top: 40px;
}
h1{
    font-size: 300%;
}
.location{
    display: flex;
    position: absolute;
    bottom: 330px;
}
h2{
    margin-top: 40px;
    font-size: 200%;
    /* position: absolute;
    left: 300; */
    margin-left: 55px;
}
.loc{
    /* display: flex; */
    position: absolute;
    right: 50px;
    height: 140px;
    width: 140px;
    /* margin-left: 10px; */

}
h3{
    font-size: 140%;
}
.next{
    margin-top: 85px;
    display: flex;
    flex-direction: column;
}
.last{
    font-size: 140%;
    display: flex;
    align-items: center;
}
.set{
    background-color: rgb(219, 219, 2);
    height: 80px;
    width: 80px;
}
.blue{
    position: absolute;
    bottom: 170px;
    margin-left: 85px;
}