*{
    padding: 0px;
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body{
    padding-top: 5%;
    padding-left: 10%;
    background-color: rgb(123, 82, 123);
}
.main{
    background-color: green;
    width: 47%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
    border: 5px solid rgb(216, 142, 4);
}
.top{
    display:flex;
    align-items: center;
    /* gap: 30px; */
    background-color: yellow;
}
.user{
    font-size: 120%;
}

#likesid{
    margin-left: 30%;
    font-size: 180%;
    width: 25%;
}
.likebtn{
    margin-left: 1%;
    background-color: red;
    width:12%;
    height: 40px;
    border: 3px solid purple;
    box-shadow: 3px 3px rgb(2, 97, 164);
    font-size: 180%;
}
.filler{
    margin-top: 6%;
    background-color: yellow;
    font-size: 180%;
    width: 96%;
}